/*------------------------------------
 *Author:BitGrav
 *Template:Creative Portfolio
 *Version:1.0
 *-------------------------------------
 */

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 24px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #4b4b4b;
  letter-spacing: 0.8px;
  backface-visibility: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
}

h1 {
  font-size: 54px;
  color: #303030;
  font-weight: 600;
}

h2 {
  font-size: 48px;
  color: #303030;
  font-weight: 600;
}

h3 {
  font-size: 42px;
  color: #303030;
  font-weight: 600;
}

h4 {
  font-size: 36px;
  color: #303030;
  font-weight: 600;
}

h5 {
  font-size: 30px;
  color: #303030;
  font-weight: 600;
}

h6 {
  font-size: 24px;
  color: #303030;
  font-weight: 600;
}

.section-title {
  text-align: center;
}
.section-title1{
      text-align: center;
    border-bottom: 1px solid #646464;
    padding-bottom: 20px;
}
.sub-header {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 24px;
  color: #2C2C2C;
  font-style: italic;
  letter-spacing: .3px;
}

.bold {
  font-weight: 700;
}

a {
  color: #00abc9;
}

a:hover {
  text-decoration: none;
  color: #eeb013;
}

a:focus {
  text-decoration: none;
  outline: 0;
  color: #00abc9;
}

.grey {
  color: #ddd;
}

.primary-bg {
  background-color: #FED428;
}

.padding-style1 {
  padding: 30px 0;
}

.padding-style1.padding-less {
  padding: 100px 0 0;
}
.padding-style2 {
  padding: 60px 0;
}

.animation {
  opacity: 0;
}

.primary {
  color: #e68200;
}

.btn-style1 {
  padding: 12px 22px;
  color: #00abc9;
  display: inline-block;
  transition: all 0.5s;
  background-color: #000;
}

.btn-style1:hover {
  background-color: #e68200;
  color: #000;
}

.btn-style2 {
  padding: 12px 22px;
  color: #fff;
  display: inline-block;
  transition: all 0.5s;
  background: #00abc9;
}

.btn-style2:hover,
.btn-style2:focus {
  background-color: #eeb013;
  color: #000;
}

.btn-style3 {
  padding: 10px 22px;
  background-color: #00abc9;
  color: #fff;
  display: inline-block;
  transition: all 0.5s;
  border: none;
}

.btn-style3:hover {
  background-color: #e68200;
  color: #000;
}

.preloader {
  background: #fff;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99999;
}

.preloader-img {
  background-image: url(../images/loading.gif);
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
  left: 50%;
  margin: -100px 0 0 -100px;
  position: absolute;
  top: 50%;
  width: 200px;
}

#scroll-top-area {
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  bottom: 10px;
  right: 10px;
  border-radius: 4px;
  z-index: 8;
  display: none;
  transition: all 6s;
}

#scroll-top-area i {
  color: #fff;
  padding: 8px 12px;
  font-size: 25px;
}

img{
	margin:auto;
}