  /*------------------------------------
 *Author:BitGrav
 *Template:Creative Portfolio
 *Version:1.0
 *-------------------------------------
 */

@media screen and (max-width: 992px) {
  /*------padding--------*/
  .padding-style1 {
    padding: 70px 0;
  }
  /*------header--------*/
  #menu {
    display: none;
  }
  .slicknav_menu {
    display: inline-block;
  	position: fixed;
    right: 0px;
    z-index: 10;
    background: transparent;
  }
  .slicknav_btn {
    background: #fff none repeat scroll 0 0;
    margin-right: 43px;
    margin-top: 19px;
  }
  .slicknav_nav a {
    background:rgba(68, 200, 245,0.9);
    height: 47px;
    color: #fff;
    width: 200px;
    padding-top: 12px;
    text-align: center;
    line-height: 20px;
  }
  
  .slicknav_nav li {
    margin-bottom: 1px;
  }

  .slicknav_nav a:hover {
    border-radius: 0px;
    background:none;
    color: #fff;
  }
  .slicknav_nav,
  .slicknav_nav ul {
    list-style: none;
    overflow: hidden;
    margin-top: 20px;
  }
  .slicknav_nav .slicknav_row,
  .slicknav_nav a {
    margin: 0px;
  }
  .slicknav_menu .slicknav_icon-bar {
    background-color: #000;
  }
  /*--------------about----------------*/
  .about-img-overlay {
    width: 100%;
  }

  .padding-style1.padding-less {
    padding: 50px 0 0;
  }

  .about-text p {
    margin: 0;
  }
  .about-text a {
    margin-top: 30px;
    margin-bottom: 31px;
  }
  .about-text {
    padding-left: 0px;
  }

  .about-img {
    margin-top: 11px;
  }

  /*------------experience---------------*/
  .experience-item {
    margin-bottom: 30px;
  }
  .blog-single-item.blog-item-margin {
    margin-bottom: 50px;
  }
  .blog-single-item .blog-text a {
    margin-top: 8px;
  }
  .contact-detail {
    margin-bottom: 40px;
  }

  .experience .experience-content h6 {
    font-size: 17px;
    margin-left: 61px;
    vertical-align: -11px;
  }

  /*----------testimonial---------*/
  .quote-text i {
    font-size: 49px;
    margin-left: -15px;
    margin-top: -13px;
  }
  /*----------blog---------*/
  .blog-title {
    font-size: 18px;
    letter-spacing: -.9px;
  }
  /*----------contact---------*/
  .contact-detail {
    padding: 39px 4px 37px 47px;
  }
}

@media only screen and (min-device-width : 992px) and (max-device-width : 1200px) {
  /*--------------Menu----------------*/
  .main-header nav ul li a {
    padding: 13px 12px;
  }
/*--------------logo----------------*/
  .main-header .logo {
    margin-top: 2px;
  }

  
  .about-img {
    margin-top: 35px;
  }
  /*--------------service----------------*/
  .service-content {
    min-height: 285px;
    padding: 25px 7px;
  }

  /*----------testimonial---------*/
  .quote-text i {
    font-size: 49px;
    margin-left: -15px;
    margin-top: -13px;
  }
}

@media screen and (max-width:767px) {
  /*--------------about----------------*/
  .about-img-overlay .social-icons a {
    line-height: 56px !important;
    margin: 0px 7px !important;
    font-size: 19px !important;
  }

  .about-img {
    margin-top: 11px;
  }

  .about-text a {
    margin-bottom: 9px;
  }

  .about-text p {
    line-height: 23px;
  }

  /*--------------header--------------*/
  .typed-cursor,
  .element {
    font-size: 45px;
  }
  .slicknav_btn {
    margin-top: 28px;
  }

  /*--------------cportfolio-overlay---------------*/
  .portfolio-overlay .category {
    margin-top: 52px;
  }
  .portfolio-content-head ul li {
    margin: 0;
    padding: 12px 9px;
  }

   /*--------------services----------------*/
  .service-item {
    padding: 10px 11px;
  }

  .service-content {
      padding: 12px 16px;
  }

 /*--------------blog---------------*/
  .blog-title {
      font-size: 17px;
  }

  /*----------testimonial---------*/
  #client-testimonial #owl-demo-testimonial .item {
    margin: 0px 20px;
  }
  .quote-text i {
    font-size: 49px;
    margin-left: -15px;
    margin-top: -13px;
  }



   /*----------fact-counter---------*/
  .quote-text {
    margin: 0px 30px;
  }

  .fact-counter .count {
    font-size: 42px;
  }

  .factcounter-column {
      padding: 9px 0 0;
  }

  .fact-counter .column .icon {
      font-size: 42px;
  }
  /*----------contact Us---------*/
  .contact-detail .section-title {
    margin-left: 116px;
    text-align: left;
}

}
@media only screen and (min-device-width : 768px) and (max-device-width : 1200px) {
  /*--------------about----------------*/ 
  .about-text a {
    margin-bottom: 9px;
  }

  .about-img {
    margin-top: 11px;
  }

  /*--------------experience----------------*/
  .experience-item {
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .experience .experience-content h6 {
    font-size: 17px;
    margin-left: 61px;
    vertical-align: -11px;
  }
 /*--------------blog----------------*/
  .blog-title {
    font-size: 20px;
  }
/*----------testimonial---------*/
  .quote-text i {
    font-size: 49px;
    margin-left: -15px;
    margin-top: -13px;
  }
  

  /*--------------cportfolio-overlay---------------*/
  .portfolio-overlay .category {
    margin-top: 52px;
  }

/*--------------contact us---------------*/
  .section-title {
    margin-left: 19px;
    text-align: left;
}




}

@media screen and (max-width:480px) {

  /*--------------about----------------*/
  .about-img-overlay .social-icons a {
    line-height: 56px !important;
    margin: 0px 7px !important;
    font-size: 19px !important;
  }

  /*--------section-title-----*/
  .section-title {
    padding: 0px 10px;
  }

  
  /*----------experience----------*/
  .experience .experience-content h6 {
    font-size: 20px;
    margin-left: 64px;
    vertical-align: -7px;
    display: block;
  }
  .experience .experience-text .org {
    font-size: 14px;
    padding: 8px 41px;
    display: inline-block;
    vertical-align: middle;
    margin-top: 20px;
  }
  .experience-item {
    margin: 20px 25px;
    background: #fff;
    padding: 22px 22px;
    position: relative;
    border-bottom: 4px solid #e68200;
  }
  .experience-content .range::before {
    content: "";
    position: absolute;
    top: -10px;
    border-style: solid;
    border-width: 0 0 13px 28px;
    left: -50px;
  }
  /*----------testimonial---------*/
  .quote-text {
    margin: 0px;
  }
  .quote-text i {
    font-size: 50px;
    margin-left: -23px;
    margin-top: -18px;
}

@media screen and (max-width:360px) {

/*----------------Landing Page-----------*/
  .heading h2 {
    font-size: 26px !important;
  }

  .heading h5 {
      font-size: 18px !important;
  }


  .heading h3 {
      font-size: 29px !important;
  }


  .logo-per {
      width: 44% !important;
  }
  

/*----------------logo-----------*/
  .main-header .logo {
    width: 75%;
  }
/*----------------nav-----------*/
  .slicknav_btn {
    margin-top: 16px;
}
/*----------------slider-----------*/
  .slider-text h2 {
      font-size: 55px;
  }

  .slider-text h6 {
      font-size: 18px;
  }

/*----------------testimonial-----------*/  
  #client-testimonial .owl-carousel .owl-wrapper-outer {
    min-height: 461px;
  }
/*----------------fact-counter-----------*/ 
  .fact-counter .count {
    font-size: 37px;

  }
  .fact-counter .column .icon {
    font-size: 42px;
    margin-bottom: 9px;
  }
  .fact-counter .column .inner-box {
    padding: 15px 30px;
  }

  .fact-counter .column {
    margin-bottom: 7px;
  }


/*----------------experience-----------*/ 
  .experience .experience-content h6 {
    font-size: 18px;
  }

  .experience .experience-text .detail {
    padding-top: 30px;
  }

  .experience .experience-text .org {
    padding: 17px 0 0;
  }
/*----------------contact-----------*/ 
  .contact-header {
    padding-bottom: 0;
  }

  .section-title {
    margin-left: 2px;
    text-align: left;
  }

/*----------------map-----------*/
  #map {
    height: 1133px;
  }

  /*----------------sinle blog-----------*/
  .blog-right-area {
    margin-top: 18px;
  }
}

@media screen and (max-width:320px) {
/*----------------Landing Page-----------*/
  .heading h2 {
    font-size: 26px !important;
  }

  .heading h5 {
      font-size: 18px !important;
  }


  .heading h3 {
      font-size: 29px !important;
  }


  .logo-per {
      width: 44% !important;
  }
  
  /*----------------testimonial-----------*/
  #client-testimonial .owl-carousel .owl-wrapper-outer {
    min-height: 485px;
  }

  /*----------------map-----------*/
  #map {
    height: 1133px;
  }
  /*----------------sinle blog-----------*/
  .blog-right-area {
    margin-top: 18px;
  }
}

