@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');



/*------------------------------------
 *Author:BitGrav
 *Template:Creative Portfolio
 *Version:1.0
 *-------------------------------------
 */


/*--------Table of Content----------
* 01.header
* 02.about
* 03.services
* 04.portfolio
* 05.Fact Counter
* 06.experience
* 07.blog
* 08.testimonial
* 09.contact
* 10.footer
*----------------------------------
*/


@media only screen and (min-width : 220px) and (max-width : 480px) and (orientation :  portrait) {
.slider-text h2 {font-size: 18px !important; line-height:2 !important;}
.slider-text{padding-left:10px !important; padding-right:10px !important;}
.slider-text{top: 15% !important;}
.section-title{ font-size:24px !important; padding-bottom:20px !important;}
.slicknav_menu{position:absolute !important;}
.main-header{position:absolute !important;}


}
@media only screen and (min-width : 220px) and (max-width : 480px) and (orientation : landscape) {
	.slider-text h2 {font-size: 18px !important; line-height:2 !important;}
.slider-text{padding-left:10px !important; padding-right:10px !important;}
.slider-text{top: 15% !important;}
.section-title{ font-size:24px !important; padding-bottom:20px !important;}
.slicknav_menu{position:absolute !important;}	
.main-header{position:absolute !important;}
	
	}
	

@media only screen and (min-width : 360px) and (max-width : 640px) and (orientation : portrait) {	

			.slider-text h2 {font-size: 18px !important; line-height:2 !important;}
.slider-text{padding-left:10px !important; padding-right:10px !important;}
.slider-text{top: 15% !important;}
.section-title{ font-size:24px !important; padding-bottom:20px !important;}
.slicknav_menu{position:absolute !important;}
.main-header{position:absolute !important;}

	}
	

@media only screen and (min-width : 360px) and (max-width : 640px) and (orientation : landscape) {

.slider-text h2 {font-size: 18px !important; line-height:2 !important;}
.slider-text{padding-left:10px !important; padding-right:10px !important;}
.slider-text{top: 15% !important;}
.section-title{ font-size:24px !important; padding-bottom:20px !important;}
.slicknav_menu{position:absolute !important;}
.main-header{position:absolute !important;}

}

@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : portrait) {
.slicknav_menu{position:absolute !important;}
.main-header{position:absolute !important;}
	}
	
@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : landscape) {

	}
	
	
	@media only screen and (min-width : 414px) and (max-width : 736px) and (orientation : landscape) {
	.slicknav_menu{position:absolute !important;}
.main-header{position:absolute !important;}
	}
	
	@media only screen and (min-width :600px) and (max-width : 960px) and (orientation : landscape) {

	}
	
	@media only screen and (min-width :600px) and (max-width : 960px) and (orientation : portrait) {
	
	}
	
	@media only screen and (min-width :1920px) and (max-width : 900px) and (orientation : landscape) {
		
	}
	
	@media only screen and (min-width :1920px) and (max-width : 900px) and (orientation : portrait) {
	
	}
	
	   /* Media queries */
@media screen and (max-width: 1920px) and (orientation : landscape){

}
	



/*-----------------Single Blog Page ----------------*/
.logo-per {
    margin: 0 auto;
    padding: 42px 0 0;
    position: relative;
    text-align: center;
    width: 31%;
}
.heading{
  margin: 50px 0;
  text-align: center;
}


.heading h2 span{
  color: #e86200;
}

.heading h5{
  font-weight: 500;
  padding: 20px 0px;
}
.item {
  max-width: 550px;
  overflow: hidden;
  background: #f2f2f2;
  box-sizing: border-box;
  margin:0 auto;
  box-shadow: 0px 0px 10px #414141;
  margin-bottom: 80px;
}
.item img{
  width: 100%;
}
.item a p{
  text-align: center;
  color: #000;
  font-weight: 600;
  font-size: 20px;
  padding: 15px 0px;
}


/*-----------------header-----------------*/

.main-header {
  line-height: 25px;
  position: fixed;
  z-index: 5;
  width: 100%;
 /* padding:20px 0px;*/
}

.main-header .logo {
    float: left;
	position:relative;
}

.dark-header {
  background: rgba(0,0,0,0.8);
}

.main-header a .logo {
  display: inline-block;
  float: left;
}

.main-header nav {
  float: right;
}

.main-header nav ul li {
  display: inline-block;
  margin-left: -2px;
}

.main-header nav ul li a {
    color: #fff;
    display: block;
    padding:5px 15px;
    text-align: center;
    text-transform: capitalize;
    transition: all 0.2s ease 0s;
}

.main-header nav ul li a.current,
.main-header nav ul li a:hover {
  color: #eeb013;
  border-bottom:1px solid ##eeb013;
}

.slicknav_menu {
  display: none;
  height: 80px;
  background-color: #fff;
}


/* ================================================================================== 
                Revolution Slider
===================================================================================== */

.wrapper {
  float: left;
  width: 100%;
}
.wrapper ul {
  list-style: none;
}
.main-slider {
  float: left;
  width: 100%;
  position: relative;
  height: 800px;
}
.tparrows {
    width: 42px;
    height: 42px;
    border: 1px solid #fff;
    text-align: center;
}

.tp-caption.layer3:hover i {
  color: #fff !important;
}

canvas {
  display: block;
  vertical-align: bottom;
}

.slider-area.particle-bg {
  position: relative;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-image: url("../images/banner.png");
}

.skill-btn {
  display: block;
  max-width: 160px;
  font-size: 15px;
  margin: 0 auto;
  margin-top: 65px;
  padding: 10px 0px;
}


.slider-text {
    position: absolute;
    text-align: center;
    top:30%;
    width: 100%;
	padding-left: 70px;
padding-right: 70px;

}


.slider-text h6 {
	color: #fff;
	font-size: 17px;
	line-height: 28px;
	padding: 0px;
	margin-top:20px;
	margin-bottom: 0px;
	font-family: 'Roboto', sans-serif;
	font-weight:300;

}

.slider-text h2 {
font-family: 'Roboto', sans-serif;
    line-height: 70px;
    font-size: 3.1vw;
font-weight: 700;
text-transform: Capitalize;
color:#fff;
}

.owl-pagination {
    display: none;
    overflow: hidden;
}

.typed-cursor,
.element {
  display: inline;
  font-weight: 700;
}

#particles-js {
  position: relative;
  width: 100%;
  height: 700px;
  background-size: cover;
  background-repeat: no-repeat;
}

.typed-cursor {
  opacity: 1;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


/*------------------about section---------------------------*/

.about .section-title {
    float: left;
    margin-bottom: 32px;
    position: relative;
    text-align: left;
    width: 100%;
}

.about {
  position: relative;
}

.hello-text {
    margin-bottom: 60px;
}

.about .about-text h4 {
    color: #000;
    display: block;
    font-size: 45px;
    font-weight: 800;
    line-height: 21px;
    margin-bottom: 26px;
    position: relative;
}

.about-text {
    padding-left: 20px;
    padding-top: 24px;
}

.about-text h1 {
  text-align: left;
  margin-top: 0px;
}

.about-text p {
  line-height: 26px;
  letter-spacing: 0.5px;
  margin: 42px 0px;
}

.about-text a {
  margin-top: 15px;
}

.about-img {
    float: left;
    position: relative;
    text-align: center;
}

.about-img img {
  position: relative;
  z-index: 2;
}

.about-img-overlay {
  position: absolute;
  bottom: -100px;
  left: 1px;
  z-index: 3;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 59px;
  transition: all 0.5s;
}

.about-img:hover .about-img-overlay {
  bottom: 0;
}

.about-img-overlay .social-icons {
  text-align: center;
  font-size: 22px;
}

.about-img-overlay .social-icons a {
  line-height: 50px;
  margin: 0px 15px;
  color: #00abc9;
}

.about-img-overlay .social-icons a:hover {
  color: #fff;
}

.about-text a {
  background: #00abc9;
  color: #FFF;
  padding: 12px 22px;
  display: inline-block;
  transition: all 0.5s;
}

.about-text a:hover {
  background: #eeb013;
}

.about-text a i {
  color: #fff;
  padding: 4px;
  margin-left: 6px;
  font-size: 12px;
}


/*-----------------services section-----------------*/

.services {
  background-image:url(../images/services-bg.jpg);
  background-size: cover;
  background-attachment:fixed;
  background-repeat:no-repeat;
  text-align: center;
  width:100%;
  float: left;
  position:relative;
  z-index: 3;
}

.services.style2{
 
}

.services .services-header {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin: 0 0 40px 0;
}

.services .services-content span i {
    background: #00abc9;
    border-radius: 31px;
    color: #fff;
    font-size: 22px;
    margin-top: 8px;
    padding: 16px;
}

.services .services-content .content-title {
  font-size: 18px;
  font-weight: 600;
  margin-top: 28px;
  margin-bottom: 12px;
  color: #565656;
}

.service-item {
  background: #f9f9f9;
  padding: 22px 28px;
  margin-top: 28px;
  transition: all 0.5s;
  box-shadow: 0px 0px 10px #EDEDED;
}

.service-item:hover {
  box-shadow: 0px 0px 10px #bcbcbc;
}

.service-content {
  padding: 24px;
  transition: all 0.5s;
  border: 1px solid #eeb013;
}

.service-item:hover .service-content {
  border: 1px solid #00abc9;
}

.service-item:hover span i {
  color: #fff;
  background: #eeb013;
  transition: all 0.5s;
}


/*-----------------------portfolio section-----------------*/


.portfolio{
	float: left;
  position:relative;
	width:100%;
	
}

.portfolio.style2{
  padding-bottom: 0px;
}

.portfolio-content-head ul li {
  display: inline-block;
  cursor: pointer;
  padding: 12px 14px;
  font-weight: 700;
  color: #696969;
  margin: 0px 10px;
  transition: all 0.2s;
  font-size: 16px;
  
}

.portfolio-content-head ul li:hover {
  color: #eeb013;
}

.mixitup-control-active {
  color: #00abc9!important;
}

.mix {
  display: inline-block;
}

.portfolio-item {
  position: relative;
}

.portfolio-content-items .row {
  margin-right: 0px;
  margin-left: 0px;
}

.portfolio-content-items .col-md-4,
.portfolio-content-item .col-sm-4 {
  padding-right: 0px;
  padding-left: 0px;
}

.portfolio-header {
    margin: 0 0 40px 0;
}

.portfolio-img {
  position: relative;
  z-index: 1;
  transition: all 0.5s;
  overflow: hidden;
}

.portfolio-img img {
  transition: all 0.5s;
}

.portfolio-content-head {
  text-align: center;
  margin-bottom: 28px;
}

.portfolio-item:hover .portfolio-img img {
  transform: rotate(-20deg) scale(1.4);
}

.portfolio-overlay {
  position: absolute;
  z-index: 2;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  text-align: center;
  visibility: hidden;
  transition: all 0.5s;
  transform: scale(0);
}

.portfolio-overlay p,
.portfolio-overlay a {
  position: relative;
  z-index: 4;
}

.portfolio-overlay::before {
  content: "";
  width: 0;
  height: 0;
  border-width: 0;
  position: absolute;
  left: 10%;
  top: 10%;
  transition: 50ms height ease 150ms;
  z-index: 3;
}

.portfolio-overlay::after {
  content: "";
  width: 0;
  height: 0;
  border-width: 0;
  position: absolute;
  right: 10%;
  bottom: 10%;
  transition: 100ms width ease 200ms;
  z-index: 3;
}

.portfolio-item:hover .portfolio-overlay::before {
  width: 80%;
  height: 80%;
  border-top: 1px solid #e68200;
  border-right: 1px solid #e68200;
  transition: width 0.1s ease 0.3s, height 0.1s ease 0.5s;
}

.portfolio-item:hover .portfolio-overlay::after {
  width: 80%;
  height: 80%;
  border-bottom: 1px solid #e68200;
  border-left: 1px solid #e68200;
  transition: width 0.1s ease 0.6s, height 0.1s ease 0.7s;
}

.portfolio-item:hover .portfolio-overlay {
  visibility: visible;
  transform: scale(1);
}

.portfolio-overlay .category {
  margin-top: 90px;
  margin-bottom: 19px;
  font-size: 16px;
  color: #fff;
  font-weight: 500;
}

.portfolio-overlay .magnify-icon {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  background: #000;
  margin: 0 5px;
  cursor: pointer;
  display: inline-block;
  transition: all 0.25s;
}

.portfolio-overlay .magnify-icon:hover {
  background: #e68200;
}

.portfolio-overlay .magnify-icon p span i {
  font-size: 15px;
  color: #fff;
  line-height: 40px;
  cursor: pointer;
}


/*====================================================================
	
					Fact Counter Section
	
====================================================================*/

.factcounter-column {
   padding: 50px 0 11px;
	 background-color:#f5f5f5;
	 width:100%;
	 float: left;
   position:relative;
   z-index: 4;
}

.factcounter-column.style2{
  background-image: url("../images/services-bg.jpg");
  background-size: cover;
  background-attachment:fixed;
  background-repeat:no-repeat;
  text-align: center;
  width:100%;
  float: left;
  position:relative;
}

.factcounter-column.style-2 {
    padding: 50px 0 157px;
}

.fact-counter .column{
	margin-bottom:40px;
	text-align:center;
}

.fact-counter .column .inner-box{
	padding:40px 30px;
}

.fact-counter .column .icon{
	top:0px;
	font-size:52px;
	line-height:1.2em;
	margin-bottom:15px;
	color:#29b3fe;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
}

.fact-counter .column .counter-title {
    color: #636363;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5em;
    text-transform: capitalize;
}

.fact-counter .count {
    font-size: 60px;
    font-weight: 600;
    line-height: 1.2em;
	color: #636363;
}


/*---------------------experience section---------------------*/

.experience {
  background-image:url("../images/experience-bg.jpg");
  background-size: cover;
  background-attachment:fixed;
  background-repeat:no-repeat;
  width:100%;
  float: left;
  position:relative;
}

.experience-header {
    margin-bottom: 40px;
}


.experience-header h4 {
  color: #fff;
}

.experience-container {
  margin-top: 28px;
}

.experience .experience-content h6 {
  font-size: 20px;
  margin-left: 65px;
  vertical-align: -7px;
  display: inline;
}

.experience-item {
  margin: 20px 25px;
  background: #fff;
  padding: 20px 30px;
  position: relative;
  border-bottom: 4px solid #e68200;
}

.experience .experience-text .org {
    float: left;
    font-weight: 600;
    margin-bottom: 10px;
    position: relative;
    padding-top: 24px;
    width: 100%;
}

.experience .experience-text p {
  letter-spacing: 0.2px;
}

.experience .experience-text .detail {
  padding-top: 20px;
}

.experience-content .range {
  position: relative;
}

.experience-content .range::before {
  content: "";
  position: absolute;
  top: -10px;
  border-style: solid;
  border-width: 0 0 13px 21px;
  border-color: transparent transparent #00abc9;
  left: -51px;
  opacity: 0.8;
}

.experience-content .range span {
  font-size: 14px;
  padding: 8px 14px;
  color: #fff;
  font-weight: 600;
  background: #00abc9;
  position: absolute;
  left: -51px;
  top: 3px;
  display: block;
}

.experience-icon i {
  line-height: 50px;
  font-size: 18px;
  color: #fff;
  text-align: center;
}


/*-----------------blog section-----------------*/

.blog {
  background-color: rgba(234, 234, 234, 0.2);
  overflow: hidden;
  width:100%;
  float: left;
  position:relative;
}

.blog-title {
  font-weight: 600;
  font-size: 22px;
  padding: 15px 0px;
}

.blog-title a {
    color: #000;
}

.blog-detail {
  font-size: 13px;
  color: #959595;
  padding-bottom: 100px;
}

.blog-header {
    margin-bottom: 40px;
}

.blog-description p {
  font-size: 13px;
  color: #939393;
}

.blog-description p i {
    font-size: 15px;
    padding: 0 13px 0 0;
    margin-left: 10px;
}

.blog-description p i:first-child{
  margin-left: 0px;
}

.blog-detail .blog-content p {
  margin-bottom: 15px;
}

.blog-description {
  margin-bottom: 12px;
  margin-top: 2px;
}

.blog-img {
  margin-bottom: 12px;
}


/*-------------------testimonial section---------------*/

.client-testimonial {
  background-image: url("../images/testimonial-bg.jpg");
  background-size: cover;
  background-attachment:fixed;
  background-repeat:no-repeat;
  width:100%;
  float: left;
  position:relative;
}

.client-testimonial .client-area {
    float: left;
    padding: 80px 0;
    position: relative;
    width: 100%;
}

.testimonial-title.text-center {
    margin-bottom: 40px;
}

.client-testimonial .section-title {
  color: #fff;
}

.client-testimonial .testimonial-title h3 {
  color: #e7e7e7;
}

.client-testimonial #owl-demo-testimonial .item {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-radius: 3px;
    box-shadow: none;
    margin: 0 auto;
    max-width: 850px;
    text-align: center;
    transition: all 0.5s ease 0s;
}

.client-testimonial .client-avt img {
  width: 80px;
  height: 80px;
  border: 2px solid #00abc9;
  margin-bottom: 15px;
}

.quote-text {
    background: #fff;
    border-left: 5px solid #00abc9;
    border-right: 5px solid #00abc9;
    padding: 56px 30px;
    transition: all 0.5s ease 0s;
}

.quote-text i {
    color: #eee;
    font-size: 60px;
    margin-left: -40px;
    margin-top: -16px;
    padding: 0 4px;
    position: absolute;
}

.quote-text span {
    position: relative;
}

.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #f3f3f3 transparent;
  margin: 0 auto;
}

.client-testimonial .owl-theme .owl-controls .owl-page span {
  border-radius: 0px;
}

.client-testimonial .owl-theme .owl-controls .active span {
  background: #00abc9;
}

.owl-theme .owl-controls .owl-page span {
  background: #7D7D7D;
  opacity: 1;
}

.name {
  font-weight: 700;
  padding-top: 12px;
  color:#00abc9;
}


/*------------------Map-------------*/

.our-map {
    float: left;
    position: relative;
    width: 100%;
}

#map {
    height: 611px;
    width: 100%;
    float: left;
    position: relative;
}




/*------------------contact section-------------*/

.contact {
  width:100%;
  float: left;
  top:-32px;
  position:absolute;
}

.contact .contact-detail {
    float: left;
}

.contact-detail {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    padding: 39px 4px 30px 47px;
}

.contact-form {
  background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
  padding: 39px 37px 30px 35px;
}

h6.form {
    margin-bottom: 30px;
    color:#fff;
}

#name,
#email {
  width: 100%;
  height: 45px;
  margin-bottom: 20px;
  background: #fff;
  border: none;
  padding-left: 12px;
  border: 1px solid #d0d0da;
}

textarea {
  width: 100%;
  height: 200px;
  background: #fff;
  border: none;
  padding-left: 18px;
  padding-top: 8px;
  border: 1px solid #d0d0da;
}

.contact-detail h6 {
  margin-bottom: 25px;
  color: #fff;
}

.contact-detail li {
    padding: 9px 0;
    margin-bottom: 16px;
    color: #fff;
}

.contact-detail .social-icons > li:first-child {
    float: left;
    width: 100%;
}

.contact-detail i {
    padding-right: 18px;
}

.contact-detail .social-icons > li {
    float: left;
}
.contact-detail .social-icons > li i {
    padding: 2px 5px;
	font-size: 14px;
  	margin-right: 5px;
  	background: #00abc9;
  	color: #fff;
  	width: 32px;
  	height: 30px;
  	line-height: 28px;
  	text-align: center;
  	transition: all 0.5s;
}

.contact-detail .social-icons > li a:hover i {
  background: #eeb013;
}

.contact-detail .social-icons p {
  font-weight: 600;
  font-size: 18px;
  margin:10px 0px;
}

#contact-submit {
  margin-top: 30px;
  padding: 12px 42px;
}

.contact .result{
  color: #e68200;
  margin-top: 6px;
}


/*---------------footer-------------*/

footer {
  padding: 35px 0px;
  background: #121212;
  width:100%;
  float: left;
  position:relative;
}

.copyright p {
  text-align: center;
  color: #ddd;
}

/*-----------------blog-introduce area ----------------*/

.blog-introduce {
  position: relative;
  top: 0px;
  background-image: url("../images/blog-introduce.jpg");
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;

}

.blog-introduce h3 {
  color: #fff;
  padding-top: 160px;
  padding-bottom: 70px;
  text-align: center;
}


/*-----------------blog-left-area ----------------*/

.blog-left-area .blog-img {
  margin-bottom: 30px;
}

.blog-left-area .blog-description p {
  font-size: 13px;
  margin: 15px 0px;
  color: #acacb2;
}

.blog-left-area .blog-description p i {
  padding: 0px 4px;
  font-size: 15px;
}

.blog-left-area .blog-content p {
  margin-bottom: 15px;
}

.blog-left-area .single-blog-title {
    text-transform: uppercase;
}

.blog-left-area .blog-content blockquote {
  padding: 22px 20px;
  margin: 0 0 20px;
  font-size: 15.5px;
  border-left: 5px solid #7e7e7e;
  background: #e7e7e7;
  line-height: 25px;
  margin: 20px 0px;
}

.blog-left-area .blog-share {
  margin-top: 20px;
  margin-bottom: 30px;
}

.blog-left-area .blog-share p,
.blog-left-area .blog-share a {
  display: inline-block;
}

.blog-left-area .blog-share p {
  font-weight: 700;
  font-size: 17px;
}

.blog-left-area .blog-share a {
  width: 33px;
  height: 33px;
  background-color: #fff;
  border: 1px solid #164E71;
  margin: 0px 4px;
  transition: all 0.5s;
}

.blog-left-area .blog-share a i {
  color: #164E71;
  text-align: center;
  transition: all 0.5s;
}

.blog-left-area .blog-share a:hover {
  background: #00abc9;
  border: 1px solid #00abc9;
}

.blog-left-area .blog-share a:hover i {
  color: #fff;
}

.blog-left-area .blog-share a i {
  color: #164E71;
  text-align: center;
  display: block;
  line-height: 33px;
}

.blog-left-area .comment-img img {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  display: block;
  border-radius: 65px;
}

.blog-left-area .comment-area .name {
  text-align: center;
  padding-top: 4px;
  font-weight: 700;
  display: block;
  color: #333;
  letter-spacing: 1.6px;
}

.blog-left-area .comment-area {
  background: #f5f5f5;
  padding: 12px 20px;
  margin: 30px 0px;
  box-shadow: 0px 0px 5px #d2d2d2;
}

.blog-left-area .comment-time {
  font-size: 13px;
  color: #000;
  font-weight: 600;
  letter-spacing: 1.5px;
  margin-bottom: 8px;
  margin-top: 4px;
}

.blog-left-area .comment-form {
  margin-top: 30px;
}

.blog-left-area #comment-reply {
  width: 135px;
  margin-top: 20px;
}


/*-----------------Single Blog Page ----------------*/

.blog-right-area .search-box {
  position: relative;
  margin-bottom: 12px;
}

.blog-right-area .search-box input {
    height: 40px;
    width: 84%;
    padding: 10px;
}

.blog-right-area .search-btn {
  position: absolute;
  right: 0px;
  top: 0px;
  background: #00abc9;
  border: 0px;
  width: 45px;
  height: 40px;
  color: #fff;
  transition: all 0.5s;
}

.recent-post-list {
    padding: 0 21px;
}

.recent-posts {
    margin: 29px 10px;
}

.blog-right-area .search-btn:hover {
  background: #000;
}

.blog-right-area .tags h6 {
    padding: 12px 0 23px 25px;
}

.blog-right-area {
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-box {
    margin: 29px 23px 0;
    width: 86%;
}

.category {
    margin: 29px 10px;
}

.category-list {
   margin: 29px 19px;
}

.blog-right-area .category h6, .blog-right-area .recent-posts h6 {
    padding: 12px 0 0 16px;
}
.pos-num {
    float: right;
    font-weight: 600;
}

.blog-right-area .recent-post-list li {
  margin: 12px 0px;
}

.blog-right-area .recent-post-list li a {
    color: #4b4b4b;
    font-size: 14px;
    font-weight: 400;
    transition: all 0.5s ease 0s;
}

.blog-right-area .recent-post-list li a:hover {
  color: #164E71;
}

.blog-right-area .category-list li {
  margin: 12px 0px;
  transition: all 0.5s;
}

.blog-right-area .category-list li:hover {
  margin-left: 10px;
}

.blog-right-area .category-list li a {
    color: #4b4b4b;
    font-size: 14px;
    font-weight: 400;
}

.blog-right-area .category-list li a

.blog-right-area .category-list li a::before {
  content: "\f105";
  font-family: FontAwesome;
  padding-right: 10px;
}

.blog-right-area .tag-list {
    padding: 0 0 26px 18px;
}

.blog-right-area .tag-list li {
    display: inline-block;
    background: #e7e7e7;
    margin: 5px;
    margin-right: 8px;
    padding: 5px 20px;
    transition: all 0.5s;
    border-radius: 5px;
}

.blog-right-area .tag-list li a {
  color: #000;
}

.blog-right-area .tag-list li:hover {
  background: #00abc9;
}

.blog-right-area .tag-list li:hover a {
  color: #fff;
}
 
 .main_heading{font-size:20px; margin-bottom:20px;}
 .heading_para a{ font-size:14px; font-weight:300; padding: 1px !important;/* margin: 0px !important; */ text-align: left !important;} 
 .border-left{border-left: 1px solid #fff;
    /* padding-top: 20px; */
    padding-bottom: 20px;}


.enterpr{font-size:22px; font-weight:300; margin-top:20px;}

.category-left .category-left-div{}

.mega-dropdown {
  position: static !important;
}
.mega-dropdown-menu {
    padding: 32px 6px 60px;
	    margin-top:1px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}
.mega-dropdown-menu > li > ul > li {
  list-style: none;
}
.mega-dropdown-menu > li > ul > li > a {
  display: block;
  color: #222;
  padding: 3px 5px;
}
.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
}
.mega-dropdown-menu .dropdown-header {
  font-size: 18px;
  color: #ff3546;
  padding: 5px 60px 5px 5px;
  line-height: 30px;
}

.carousel-control {
  width: 30px;
  height: 30px;
  top: -35px;

}
.left.carousel-control {
  right: 30px;
  left: inherit;
}
.carousel-control .glyphicon-chevron-left, 
.carousel-control .glyphicon-chevron-right {
  font-size: 12px;
  background-color: #fff;
  line-height: 30px;
  text-shadow: none;
  color: #333;
  border: 1px solid #ddd;
}
.dropdown-menu{ color:#fff; background-color:rgba(68, 200, 245,0.9);}
.padding_right0px{padding-right:0px;}
.padding_left0px{padding-left:0px;}
.padding_0px{padding:0px;}





/*3d--*/

.container1{
	margin: 4% auto;
	width: 210px;
	height: 140px;
	position: relative;
	perspective: 1000px;
}
#carousel{
	width: 100%;
	height: 100%;
	position: absolute;
	transform-style: preserve-3d;
	animation: rotation 20s infinite linear;
}
#carousel:hover{
	animation-play-state: paused;
}
#carousel figure{
	display: block;
	position: absolute;
	width: 90%;
	height: 50%px;
	left: 10px;
	top: 10px;
	background: black;
	overflow: hidden;
	border: solid 5px black;
}
#carousel figure:nth-child(1){transform: rotateY(0deg) translateZ(288px);}
#carousel figure:nth-child(2) { transform: rotateY(40deg) translateZ(288px);}
#carousel figure:nth-child(3) { transform: rotateY(80deg) translateZ(288px);}
#carousel figure:nth-child(4) { transform: rotateY(120deg) translateZ(288px);}
#carousel figure:nth-child(5) { transform: rotateY(160deg) translateZ(288px);}
#carousel figure:nth-child(6) { transform: rotateY(200deg) translateZ(288px);}
#carousel figure:nth-child(7) { transform: rotateY(240deg) translateZ(288px);}
#carousel figure:nth-child(8) { transform: rotateY(280deg) translateZ(288px);}
#carousel figure:nth-child(9) { transform: rotateY(320deg) translateZ(288px);}

.img_3d{
	-webkit-filter: grayscale(1);
	cursor: pointer;
	transition: all .5s ease;
}
.img_3d:hover{
	-webkit-filter: grayscale(0);
  transform: scale(1.2,1.2);
}

@keyframes rotation{
	from{
		transform: rotateY(0deg);
	}
	to{
		transform: rotateY(360deg);
	}
}

/*3d--*/


.portfolio-item{margin-top:10px; margin-bottom:10px;}
.navbar-inverse{background:none !important; border:none !important;}
.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    color: #eeb013;
    background-color: transparent;
}
.para{margin-top:15px;}
.contact_page_border a{padding: 8px 15px;}
.contact_page_border{border:1px solid #00abc9; background-color:#00abc9;}

.mrg-top-5px{margin-top:5px;}
.mrg-top-10px{margin-top:10px;}
.mrg-top-15px{margin-top:15px;}
.mrg-top-20px{margin-top:20px;}
.mrg-top-25px{margin-top:25px;}

.mrg-bottom-5px{ margin-bottom:5px;}
.mrg-bottom-10px{margin-bottom:10px;}
.mrg-bottom-15px{margin-bottom:15px;}
.mrg-bottom-20px{margin-bottom:20px;}
.mrg-bottom-25px{margin-bottom:25px;}

.mrg-left-5px{margin-left:5px;}
.mrg-left-10px{margin-left:10px;}
.mrg-left-15px{margin-left:15px;}
.mrg-left-20px{margin-left:20px;}
.mrg-left-25px{margin-left:25px;}


.mrg-right-5px{margin-right:5px;}
.mrg-right-10px{margin-right:10px;}
.mrg-right-15px{margin-right:15px;}
.mrg-right-20px{margin-right:20px;}
.mrg-right-25px{margin-right:25px;}

.padding-top-5px{padding-top:5px;}
.padding-top-10px{padding-top:10px;}
.padding-top-15px{padding-top:15px;}
.padding-top-20px{padding-top:20px;}
.padding-top-25px{padding-top:25px;}

.padding-bottom-5px{padding-bottom:5px;}
.padding-bottom-10px{padding-bottom:10px;}
.padding-bottom-15px{padding-bottom:15px;}
.padding-bottom-20px{padding-bottom:20px;}
.padding-bottom-25px{padding-bottom:25px;}

.padding-left-5px{padding-left:5px;}
.padding-left-10px{padding-left:10px;}
.padding-left-15px{padding-left:15px;}
.padding-left-20px{padding-left:20px;}
.padding-left-25px{padding-left:25px;}

.padding-right-5px{padding-right:5px;}
.padding-right-10px{padding-right:10px;}
.padding-right-15px{padding-right:15px;}
.padding-right-20px{padding-right:20px;}
.padding-right-25px{padding-right:25px;}















@import "compass/css3";

header{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
}
.header-proper{
  width: 80%;
  margin: 0 auto;
  .logo{
 
    font-weight:bold; 
    .blue{
      color: blue;
    }
    
  }
}
.scroll-line{
  height:4px;
  margin-bottom: -2px;
  background: #B98911;
  width: 0%;
}

.content{
  padding: 100px 0;
  margin: 0 auto;
  width: 80%;
}
.headline{
  font-size: 60px;
  line-height: 66px;
}

ul li {
	display: inline-block;
	position: relative;
	padding-bottom: 3px;
}
ul li:after {
	content: '';
	display: block;
	margin: auto;
	height: 3px;
	width: 0px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}
ul li:hover:after {
	width: 100%;
	background: #eeb013;
}

#toTop{
	position: fixed;
	bottom: 10px;
	right: 10px;
	cursor: pointer;
	display: none;
	z-index:999;
}
.contact-bg{background-image:url(../images/home-bottom-contact-bg.jpg); background-position:center; background-repeat:no-repeat; padding:10px;}
.contact-head{font-size:24px; text-align:center; color:#fff;}

.wpcf7-checkbox span label input {
    float: left;
    margin: 10px;
}

.border-bg{border: 1px solid #8d8686;border-radius: 50px; background: rgba(234, 234, 234, 0.15);}
.checkbox-inline{margin: 7px 14px;color: #fff;font-size: 14px;}

.whiout_radius{ border-radius:0px;border: 2px solid rgba(227, 227, 227, 0.3) !important;font-size: 16px !important;background-color: rgba(255, 255, 255, 0.29) !important;color: #FFF !important;}

.select-style {
    border: 1px solid #ccc;
    width:100%;
    border-radius: 0px;
    overflow: hidden;
    background: #fafafa url("../images/down-arrow.png") no-repeat 90% 50%;
}

.select-style select {
    padding:4px 8px;
    width:100%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
	color:#999284;
}

.select-style select:focus {
    outline: none;
}
.btn-custtomm { color: #fff; background: none; border-color: #ccc;font-size: 30px;}
